<h1>Se muestran todas las rutas</h1>

<table>
  <tr>
    <th>Zona</th>
    <th>Ruta</th>
  </tr>
  
  <% @trayectos.each do |trayecto| %>
  <tr>
    <td><%= trayecto.title %></td>
    <td><%= trayecto.description %></td>
    <td><%= link_to 'Show', trayecto_path(trayecto) %></td>
  </tr>
  
  <% end %>
  
</table>


