<h1>Se muestran todas las paradas</h1>

<table>
  <tr>
    <th>Parada</th>
    <th>Location</th>
  </tr>
  
  <% @paradas.each do |parada| %>
  <tr>
    <td><%= parada.parada %></td>
    <td><%= parada.location %></td>
    <td><%= link_to 'Show', parada_path(parada) %></td>
  </tr>
  <% end %> 
</table>